{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": false,
        "dynamicImport": false
      },
      "target": "es2018",
      "minify": {
        "compress": {
          "unused": true
        },
        "mangle": true
      }
    },
    "minify": true,
  }